body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    width: 60%;
    height: 90%;
    background-color: #fff;
    text-align: center;
    border-radius: 40px;
    overflow:hidden;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    gap:30%;
}
#seleccionador{
    width: auto;
    border-radius: 10px;
    padding:10px 30px;
    background-color: rgba(18, 46, 205, 0.83);
    color: #fff;
    margin: 20px auto;
    font-family:'skranji',cursive;
    font-size: medium;
    font-weight: bolder;
    position:fixed;
    bottom: 15%;
    right: 44% ;
    cursor: pointer;
   
}  
#seleccionador:hover{
    background-color: aqua;
}
#atras{
    width:auto;
    border-radius: 100%; 
    padding:10px 19px;
    border: none;
    background-color: rgba(18, 46, 205, 0.83);
    color: #fff;
    font-family: serif;
    font-size: bolder;
    float:left;
    text-align: center;
    position:fixed;
    left: 30%;
    bottom: 50%;
    font-family: serif;
    font-size:x-large;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}
.image{
    width: 1%;
    margin: 0 auto;
    position:relative;
    right: 112%;
    bottom: -10%;
} 

.imagen{
    width: 350px;
    height: 350px;
    object-fit: scale-down;
    margin: 0 auto;
    position:relative;
    bottom: 5%;
}
#adelante{
    width: auto;
    border-radius: 100%;
    padding:10px 19px;
    border: none;
    background-color: rgba(18, 46, 205, 0.83);
    color: #fff;
    margin: 20px auto;
    font-family: serif;
    font-size: bolder;
    float:right;
    text-align: left;
    position:fixed;
    bottom: 46%;
    right: 30%;
    font-family: serif;
    font-size:x-large;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}
.info{
    width: auto;
    margin: 0 auto;
    text-align: center;
    position:relative;
    right: 350px;
    bottom: 1%;
}
.description{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    position:absolute;
    right: -170px;
    bottom: 18%;
    font-family:'skranji',cursive;
    font-size:larger;
}
.infoname{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position:relative;
    right: 80px;
    bottom: -8%;
    
}
.nombre{
    font-family:'skranji',cursive;
}
.volv{
    width: 1px;
}
#volver{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position:relative;
    bottom: 10%;
    color: black;
    cursor: pointer;
}
#volver:hover{
    color:aqua;
}
